


/* =================Card Button======================== */
/* #################################################### */
CardButtonComponent{
    -fx-border-color : #444A;
    -fx-border-radius: 7px;
}

CardButtonComponent:hover{
    -fx-opacity: 0.5;
}

/* ---------------Board Card---------------------------*/
BoardCardButtonComponent{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 50;
    -fx-background-position: center center;

    -fx-border-color : #444A;
    -fx-border-radius: 7px;
}
BoardCardButtonComponent:hover{
    -fx-opacity: 0.8;
}

#BTN_BOARD_A_DOS{
    -fx-background-image: url("cartes_individuelles/dos_carte.png");
}
#BTN_BOARD_VOID{
    -fx-background-color: white;
}
#BTN_BOARD_BLUE{
    -fx-background-image: url("cartes_individuelles/carte_bleue.png");
}
#BTN_BOARD_RED{
    -fx-background-image: url("cartes_individuelles/carte_rouge.png");
}
#BTN_BOARD_GREEN{
    -fx-background-image: url("cartes_individuelles/carte_verte.png");
}
#BTN_BOARD_PURPLE{
    -fx-background-image: url("cartes_individuelles/carte_violette.png");
}
/*----------------------------------------------------*/

/* ---------------Deck Card---------------------------*/
TipCardButtonComponent{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80 80;
    -fx-background-position: center center;

    /*-fx-border-color : #444A;
    */-fx-border-radius: 7px;
}
TipCardButtonComponent:hover{
    -fx-opacity: 0.7;
}

#BTN_DECK_A_DOS{
    -fx-background-image: url("cartes_individuelles/dos_indice.png");

}
#BTN_DECK_VOID{
    -fx-background-color: white;
}
#BTN_DECK_BLUE{
    -fx-background-image: url("cartes_individuelles/indice_bleu.png");
}
#BTN_DECK_RED{
    -fx-background-image: url("cartes_individuelles/indice_rouge.png");
}
#BTN_DECK_GREEN{
    -fx-background-image: url("cartes_individuelles/indice_verte.png");
}
#BTN_DECK_PURPLE{
    -fx-background-image: url("cartes_individuelles/indice_violet.png");
}
/****/
#BTN_DECK_BLUE_RED{
    -fx-background-image: url("cartes_individuelles/indice_bleu_rouge.png");
}
#BTN_DECK_BLUE_GREEN{
    -fx-background-image: url("cartes_individuelles/indice_bleu_vert.png");
}
#BTN_DECK_BLUE_RED{
    -fx-background-image: url("cartes_individuelles/indice_bleu_rouge.png");
}
#BTN_DECK_BLUE_PURPLE{
    -fx-background-image: url("cartes_individuelles/indice_bleu_violet.png");
}
#BTN_DECK_GREEN_RED{
    -fx-background-image: url("cartes_individuelles/indice_vert_rouge.png");
}
#BTN_DECK_GREEN_PURPLE{
    -fx-background-image: url("cartes_individuelles/indice_vert_violet.png");
}
#BTN_DECK_PURPLE_RED{
    -fx-background-image: url("cartes_individuelles/indice_violet_rouge.png");
}
/****/
#BTN_DECK_BLUE_GREEN_RED{
    -fx-background-image: url("cartes_individuelles/indice_bleu_vert_rouge.png");
}
#BTN_DECK_BLUE_GREEN_PURPLE{
    -fx-background-image: url("cartes_individuelles/indice_bleu_violet.png");
}
#BTN_DECK_GREEN_PURPLE_RED{
    -fx-background-image: url("cartes_individuelles/indice_vert_violet_rouge.png");
}
#BTN_DECK_BLUE_PURPLE_RED{
    -fx-background-image: url("cartes_individuelles/indice_bleu_violet_rouge.png");
}
/*----------------------------------------------------*/

#button_dos_cart{
    -fx-background-image: url("cartes_individuelles/dos_carte.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60 60;
    -fx-background-position: center center;


    /*-fx-background-radius: 7px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/

}
